In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from pytorch_lightning.utilities.seed import seed_everything
from pytorch_lightning.loggers import WandbLogger
from pytorch_lightning import Trainer
import wandb

seed_everything(42)
wandb.login()
wandb_logger = WandbLogger(project='neural-collaborative-filtering')

Global seed set to 42
wandb: Currently logged in as: szymon_wozniak (use `wandb login --relogin` to force relogin)

In [3]:
from ncf import NCF
from movielens_dataset import MovielensDataModule
data = MovielensDataModule()

data.setup()

trainer = Trainer(
    logger=wandb_logger,
    max_epochs=5,
    gpus=-1
)


model = NCF(16, 64, 32, 0.2, data.n_users(), data.n_movies())

GPU available: True, used: True
TPU available: None, using: 0 TPU cores

In [4]:
trainer.fit(model, data)

  | Name           | Type      | Params
---------------------------------------------
0 | user_embedding | Embedding | 96.6 K
1 | item_embedding | Embedding | 62.1 K
2 | fc1            | Linear    | 2.1 K
3 | d1             | Dropout   | 0
4 | fc2            | Linear    | 2.1 K
5 | d2             | Dropout   | 0
6 | output         | Linear    | 33
---------------------------------------------
162 K     Trainable params
0         Non-trainable params
162 K     Total params
0.652     Total estimated model params size (MB)

Validation sanity check: 0it [00:00, ?it/s]

Training: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

1

In [5]:
def show_user_known_ratings(user_id, top_ratings: int, data: MovielensDataModule):
    whole_data = data.users.merge(data.ratings, left_on='UserID', right_on='UserID').merge(data.movies, left_on='MovieID', right_on='MovieID')
    user_ratings = whole_data[whole_data['UserID'] == user_id]
    ratings_ordered = user_ratings.sort_values(by=['Rating', 'Timestamp'], ascending=[False, True])
    top = ratings_ordered.head(top_ratings)[['MovieID', 'Title', 'Genres', 'Rating']]
    return top

In [6]:
import torch

def get_user_unrated_movies(user_id: int, data: MovielensDataModule):
    user_ratings = data.ratings[data.ratings['UserID'] == user_id]
    temp_movies = data.movies.merge(user_ratings, how='left', indicator=True)
    unrated_movies = temp_movies[temp_movies['_merge'] == "left_only"][['MovieID', 'Title', 'Genres', 'm_id']]
    return unrated_movies

def recommend_new_movies(user_id, data: MovielensDataModule, model: NCF):
    unrated_movies = get_user_unrated_movies(user_id, data)
    unrated_movies['UserID'] = user_id
    unrated_movies['u_id'] = data.users[data.users['UserID'] == user_id]['u_id'].values[0]
    model_user_ids = torch.from_numpy(unrated_movies['u_id'].values[:, None])
    model_movies_ids = torch.from_numpy(unrated_movies['m_id'].values[:, None])

    predictions = model(model_user_ids, model_movies_ids).detach().squeeze(-1).numpy()
    print(predictions.shape)
    unrated_movies['predicted'] = predictions
    unrated_movies.sort_values(by='predicted', ascending=False, inplace=True)
    return unrated_movies

In [16]:
import pandas as pd
show_user_known_ratings(2, 150, data)

,MovieID,Title,Genres,Rating
66518,1293,Gandhi (1982),Drama,5
67349,1225,Amadeus (1984),Drama,5
12641,1193,One Flew Over the Cuckoo's Nest (1975),Drama,5
68731,318,"Shawshank Redemption, The (1994)",Drama,5
74601,1945,On the Waterfront (1954),Crime|Drama,5
77298,593,"Silence of the Lambs, The (1991)",Drama|Thriller,5
79876,515,"Remains of the Day, The (1993)",Drama,5
80326,3468,"Hustler, The (1961)",Drama,5
82178,2501,October Sky (1999),Drama,5
83187,110,Braveheart (1995),Action|Drama|War,5
85630,2067,Doctor Zhivago (1965),Drama|Romance|War,5
86194,3147,"Green Mile, The (1999)",Drama|Thriller,5
87416,1247,"Graduate, The (1967)",Drama|Romance,5
88677,1357,Shine (1996),Drama|Romance,5
89225,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Drama|Sci-Fi|War,5
92215,1957,Chariots of Fire (1981),Drama,5
93710,920,Gone with the Wind (1939),Drama|Romance|War,5
25401,1962,Driving Miss Daisy (1989),Drama,5
97042,3471,Close Encounters of the Third Kind (1977),Drama|Sci-Fi,5
98493,1259,Stand by Me (1986),Adventure|Comedy|Drama,5
100278,1954,Rocky (1976),Action|Drama,5
101407,1784,As Good As It Gets (1997),Comedy|Drama,5
106388,3578,Gladiator (2000),Action|Drama,5
110255,590,Dances with Wolves (1990),Adventure|Drama|Western,5
114985,2236,Simon Birch (1998),Drama,5
116556,2268,"Few Good Men, A (1992)",Crime|Drama,5
36463,1246,Dead Poets Society (1989),Drama,5
120475,1124,On Golden Pond (1981),Drama,5
125537,356,Forrest Gump (1994),Comedy|Romance|War,5
141001,480,Jurassic Park (1993),Action|Adventure|Sci-Fi,5
144213,380,True Lies (1994),Action|Adventure|Comedy|Romance,5
145613,1610,"Hunt for Red October, The (1990)",Action|Thriller,5
156472,1370,Die Hard 2 (1990),Action|Thriller,5
175032,2002,Lethal Weapon 3 (1992),Action|Comedy|Crime|Drama,5
60199,1198,Raiders of the Lost Ark (1981),Action|Adventure,4
62713,1210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Romance|Sci-Fi|War,4
67189,2943,Indochine (1992),Drama|Romance,4
70958,2858,American Beauty (1999),Comedy|Drama,4
74386,3030,Yojimbo (1961),Comedy|Drama|Western,4
6932,1207,To Kill a Mockingbird (1962),Drama,4
76777,3095,"Grapes of Wrath, The (1940)",Drama,4
80776,1873,"Mis�rables, Les (1998)",Drama,4
82766,3035,Mister Roberts (1955),Comedy|Drama|War,4
23652,3105,Awakenings (1990),Drama,4
92849,1953,"French Connection, The (1971)",Action|Crime|Drama|Thriller,4
95552,1834,"Spanish Prisoner, The (1997)",Drama|Thriller,4
105874,3451,Guess Who's Coming to Dinner (1967),Comedy|Drama,4
108312,3334,Key Largo (1948),Crime|Drama|Film-Noir|Thriller,4
108773,3068,"Verdict, The (1982)",Drama,4
109152,265,Like Water for Chocolate (Como agua para choco...,Drama|Romance,4
112265,3071,Stand and Deliver (1987),Drama,4
114175,1955,Kramer Vs. Kramer (1979),Drama,4
115277,982,Picnic (1955),Drama,4
115358,2194,"Untouchables, The (1987)",Action|Crime|Drama,4
116485,1442,Prefontaine (1997),Drama,4
117617,3255,"League of Their Own, A (1992)",Comedy|Drama,4
120084,1096,Sophie's Choice (1982),Drama,4
121439,1537,Shall We Dance? (Shall We Dansu?) (1996),Comedy,4
121789,1188,Strictly Ballroom (1992),Comedy|Romance,4
122465,2396,Shakespeare in Love (1998),Comedy|Romance,4
20999,2028,Saving Private Ryan (1998),Action|Drama|War,4
131771,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi|Thriller,4
134420,457,"Fugitive, The (1993)",Action|Thriller,4
136415,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,4
143673,163,Desperado (1995),Action|Romance|Thriller,4
147265,3418,Thelma & Louise (1991),Action|Drama,4
150709,349,Clear and Present Danger (1994),Action|Adventure|Thriller,4
153124,1527,"Fifth Element, The (1997)",Action|Sci-Fi,4
155484,2353,Enemy of the State (1998),Action|Thriller,4
159216,648,Mission: Impossible (1996),Action|Adventure|Mystery,4
166935,368,Maverick (1994),Action|Comedy|Western,4
175834,736,Twister (1996),Action|Adventure|Romance|Thriller,4
180606,1544,"Lost World: Jurassic Park, The (1997)",Action|Adventure|Sci-Fi|Thriller,4
65596,1217,Ran (1985),Drama|War,3
65953,2717,Ghostbusters II (1989),Comedy|Horror,3
94866,1084,Bonnie and Clyde (1967),Crime|Drama,3
96045,3735,Serpico (1973),Crime|Drama,3
96540,3654,"Guns of Navarone, The (1961)",Action|Drama|War,3
104370,2728,Spartacus (1960),Drama,3
105472,1103,Rebel Without a Cause (1955),Drama,3
106224,2852,"Soldier's Story, A (1984)",Drama,3
109924,2312,Children of a Lesser God (1986),Drama,3
111706,1253,"Day the Earth Stood Still, The (1951)",Drama|Sci-Fi,3
112592,1244,Manhattan (1979),Comedy|Drama|Romance,3
115187,3678,"Man with the Golden Arm, The (1955)",Drama,3
118716,235,Ed Wood (1994),Comedy|Drama,3
119643,647,Courage Under Fire (1996),Drama|War,3
120428,498,Mr. Jones (1993),Drama|Romance,3
42970,2321,Pleasantville (1998),Comedy,3
124834,2359,Waking Ned Devine (1998),Comedy,3
127731,3108,"Fisher King, The (1991)",Comedy|Drama|Romance,3
128676,1265,Groundhog Day (1993),Comedy|Romance,3
130954,3809,What About Bob? (1991),Comedy,3
139005,2916,Total Recall (1990),Action|Adventure|Sci-Fi|Thriller,3
149734,1408,"Last of the Mohicans, The (1992)",Action|Romance|War,3
154501,2006,"Mask of Zorro, The (1998)",Action|Adventure|Romance,3
157607,2278,Ronin (1998),Action|Crime|Thriller,3
160743,1372,Star Trek VI: The Undiscovered Country (1991),Action|Adventure|Sci-Fi,3
161744,1552,Con Air (1997),Action|Adventure|Thriller,3
162698,1792,U.S. Marshalls (1998),Action|Thriller,3
163146,780,Independence Day (ID4) (1996),Action|Sci-Fi|War,3
164876,1385,Under Siege (1992),Action,3
165337,2490,Payback (1999),Action|Thriller,3
166110,165,Die Hard: With a Vengeance (1995),Action|Thriller,3
167737,2881,Double Jeopardy (1999),Action|Thriller,3
169392,459,"Getaway, The (1994)",Action,3
169535,1801,"Man in the Iron Mask, The (1998)",Action|Drama|Romance,3
169926,1597,Conspiracy Theory (1997),Action|Mystery|Romance|Thriller,3
170737,442,Demolition Man (1993),Action|Sci-Fi,3
171377,2628,Star Wars: Episode I - The Phantom Menace (1999),Action|Adventure|Fantasy|Sci-Fi,3
173627,1690,Alien: Resurrection (1997),Action|Horror|Sci-Fi,3
174406,3257,"Bodyguard, The (1992)",Action|Drama|Romance|Thriller,3
176944,292,Outbreak (1995),Action|Drama|Thriller,3
177677,2126,Snake Eyes (1998),Action|Crime|Mystery|Thriller,3
179496,1917,Armageddon (1998),Action|Adventure|Sci-Fi|Thriller,3
181861,1687,"Jackal, The (1997)",Action|Thriller,3
75120,1213,GoodFellas (1990),Crime|Drama,2
81035,1090,Platoon (1986),Drama|War,2
102831,1968,"Breakfast Club, The (1985)",Comedy|Drama,2
104796,902,Breakfast at Tiffany's (1961),Drama|Romance,2
113310,3699,Starman (1984),Adventure|Drama|Romance|Sci-Fi,2
114627,1245,Miller's Crossing (1990),Drama,2
148682,3256,Patriot Games (1992),Action|Thriller,2
158413,2427,"Thin Red Line, The (1998)",Action|Drama|War,2
168523,3107,Backdraft (1991),Action|Drama,2
178172,95,Broken Arrow (1996),Action|Thriller,2
178810,434,Cliffhanger (1993),Action|Adventure|Crime,2
120880,3893,Nurse Betty (2000),Comedy|Thriller,1
151768,21,Get Shorty (1995),Action|Comedy|Drama,1

In [12]:
recommend_new_movies(2, data, model).head(25)

(3754, 1)

,MovieID,Title,Genres,m_id,UserID,u_id,predicted
1328,1349,Nosferatu a Venezia (1986),Horror,1328,2,1,0.735111
3185,3254,Wayne's World 2 (1993),Comedy,3185,2,1,0.725243
3103,3172,Ulysses (Ulisse) (1954),Adventure,3103,2,1,0.725149
246,249,Immortal Beloved (1994),Drama|Romance,246,2,1,0.719561
3771,3841,Air America (1990),Action|Comedy,3771,2,1,0.719549
270,273,Mary Shelley's Frankenstein (1994),Drama|Horror,270,2,1,0.719351
840,851,Basquiat (1996),Drama,840,2,1,0.719255
3855,3925,Stranger Than Paradise (1984),Comedy,3855,2,1,0.719123
691,700,Angus (1995),Comedy,691,2,1,0.718301
1969,2038,"Cat from Outer Space, The (1978)",Children's|Comedy|Sci-Fi,1969,2,1,0.718168
1433,1460,That Darn Cat! (1997),Children's|Comedy|Mystery,1433,2,1,0.714956
3424,3493,Torso (Corpi Presentano Tracce di Violenza Car...,Horror,3424,2,1,0.714869
3246,3315,Happy Go Lovely (1951),Musical,3246,2,1,0.714269
3245,3314,"Big Trees, The (1952)",Action|Drama,3245,2,1,0.712639
1783,1852,Love Walked In (1998),Drama|Thriller,1783,2,1,0.712587
1008,1021,Angels in the Outfield (1994),Children's|Comedy,1008,2,1,0.712309
2972,3041,Meatballs Part II (1984),Comedy,2972,2,1,0.711901
1321,1342,Candyman (1992),Horror,1321,2,1,0.711856
3422,3491,My Chauffeur (1986),Comedy,3422,2,1,0.711167
3240,3309,"Dog's Life, A (1920)",Comedy,3240,2,1,0.710911
2320,2389,Psycho (1998),Crime|Horror|Thriller,2320,2,1,0.710861
2923,2992,Rawhead Rex (1986),Horror|Thriller,2923,2,1,0.710700
3346,3415,"Mirror, The (Zerkalo) (1975)",Drama,3346,2,1,0.709355
655,661,James and the Giant Peach (1996),Animation|Children's|Musical,655,2,1,0.709252
1892,1961,Rain Man (1988),Drama,1892,2,1,0.708877

In [13]:
data.users[data.users['UserID'] == 2]

   UserID Gender  Age  Occupation Zip-code  u_id
1       2      M   56          16    70072     1

In [14]:
data.ratings

        UserID  MovieID  Rating   Timestamp  m_id  u_id  rating_scaled
456790    6040      858       4   956703932   847  6039           0.75
456672    6040      593       5   956703954   589  6039           0.75
456732    6040     2384       4   956703954  2315  6039           0.75
456641    6040     1961       4   956703977  1892  6039           1.00
456842    6040     2019       5   956703977  1950  6039           0.50
...        ...      ...     ...         ...   ...   ...            ...
373230    4958     2399       1  1046454338  2330  4957           0.75
373293    4958     1407       5  1046454443  1384  4957           0.50
373382    4958     2634       3  1046454548  2565  4957           0.25
373229    4958     3264       4  1046454548  3195  4957           0.50
373352    4958     1924       4  1046454590  1855  4957           0.25

[1000209 rows x 7 columns]

In [17]:
model.item_embedding

Embedding(3883, 16)

In [19]:
data.movies

,MovieID,Title,Genres,m_id
0,1,Toy Story (1995),Animation|Children's|Comedy,0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,1
2,3,Grumpier Old Men (1995),Comedy|Romance,2
3,4,Waiting to Exhale (1995),Comedy|Drama,3
4,5,Father of the Bride Part II (1995),Comedy,4
...,...,...,...,...
3878,3948,Meet the Parents (2000),Comedy,3878
3879,3949,Requiem for a Dream (2000),Drama,3879
3880,3950,Tigerland (2000),Drama,3880
3881,3951,Two Family House (2000),Drama,3881
3882,3952,"Contender, The (2000)",Drama|Thriller,3882

In [50]:
toy_story = model.item_embedding.weight[0].detach().numpy()

In [51]:
all_embeddings = model.item_embedding.weight.detach().numpy()

In [52]:
from sklearn.metrics.pairwise import cosine_similarity, euclidean_distances
toy_story = toy_story[None, :]

In [53]:
similarity = cosine_similarity(toy_story, all_embeddings)
distances = euclidean_distances(toy_story, all_embeddings)

In [54]:
similarity

array([[ 0.99999994,  0.03530335,  0.38939586, ..., -0.28143138,
         0.21651693,  0.07017481]], dtype=float32)

In [55]:
import numpy as np
most_similar = np.flip(similarity.argsort())
most_similar_2 = distances.argsort()

In [56]:
most_similar

array([[   0, 3243, 2635, ..., 2783, 3199, 1375]], dtype=int64)

In [57]:
data.movies.iloc[most_similar.squeeze()].head(10)

,MovieID,Title,Genres,m_id
0,1,Toy Story (1995),Animation|Children's|Comedy,0
3243,3312,"McCullochs, The (1975)",Drama,3243
2635,2704,"Lovers on the Bridge, The (Les Amants du Pont-...",Drama|Romance,2635
2455,2524,"Towering Inferno, The (1974)",Action|Drama,2455
853,864,"Wife, The (1995)",Comedy|Drama,853
468,472,I'll Do Anything (1994),Comedy|Drama,468
2612,2681,Free Enterprise (1998),Comedy|Romance|Sci-Fi,2612
919,931,Spellbound (1945),Mystery|Romance|Thriller,919
2296,2365,King Kong vs. Godzilla (Kingukongu tai Gojira)...,Action|Sci-Fi,2296
3625,3694,"Toxic Avenger, Part II, The (1989)",Comedy|Horror,3625

In [58]:
data.movies.iloc[most_similar_2.squeeze()].head(10)

,MovieID,Title,Genres,m_id
0,1,Toy Story (1995),Animation|Children's|Comedy,0
2635,2704,"Lovers on the Bridge, The (Les Amants du Pont-...",Drama|Romance,2635
853,864,"Wife, The (1995)",Comedy|Drama,853
919,931,Spellbound (1945),Mystery|Romance|Thriller,919
2455,2524,"Towering Inferno, The (1974)",Action|Drama,2455
3625,3694,"Toxic Avenger, Part II, The (1989)",Comedy|Horror,3625
2612,2681,Free Enterprise (1998),Comedy|Romance|Sci-Fi,2612
468,472,I'll Do Anything (1994),Comedy|Drama,468
2135,2204,Saboteur (1942),Thriller,2135
3243,3312,"McCullochs, The (1975)",Drama,3243