In [1]:
from ncf import NCF

NCF()

TypeError: __init__() missing 4 required positional arguments: 'num_users', 'num_items', 'ratings', and 'all_movie_ids'

In [3]:
from data import get_movielens_1m

movies_df, users_df, ratings_df = get_movielens_1m()

In [4]:
movies_df

,MovieID,Title,Genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [8]:
movies_df['movie_id'] = movies_df.index

In [9]:
ratings_df

         UserID  MovieID  Rating  Timestamp
0             1     1193       5  978300760
1             1      661       3  978302109
2             1      914       3  978301968
3             1     3408       4  978300275
4             1     2355       5  978824291
...         ...      ...     ...        ...
1000204    6040     1091       1  956716541
1000205    6040     1094       5  956704887
1000206    6040      562       5  956704746
1000207    6040     1096       4  956715648
1000208    6040     1097       4  956715569

[1000209 rows x 4 columns]

In [10]:
users_df

      UserID Gender  Age  Occupation Zip-code
0          1      F    1          10    48067
1          2      M   56          16    70072
2          3      M   25          15    55117
3          4      M   45           7    02460
4          5      M   25          20    55455
...      ...    ...  ...         ...      ...
6035    6036      F   25          15    32603
6036    6037      F   45           1    76006
6037    6038      F   56           1    14706
6038    6039      F   45           0    01060
6039    6040      M   25           6    11106

[6040 rows x 5 columns]

In [18]:
from sklearn.preprocessing import MinMaxScaler

ratings_df['rating_scaled'] = MinMaxScaler().fit_transform(ratings_df['Rating'].values[:, None])

In [27]:
ratings_sorted = ratings_df.sort_values(by='Timestamp')

In [28]:
X = ratings_sorted[['UserID', 'MovieID']].values

In [33]:
y = ratings_sorted['rating_scaled'].values[:, None]

In [34]:
y

array([[0.75],
       [0.75],
       [1.  ],
       ...,
       [0.75],
       [0.5 ],
       [0.75]])

In [35]:
ratings_sorted

         UserID  MovieID  Rating   Timestamp  rating_scaled
1000138    6040      858       4   956703932           0.75
1000153    6040     2384       4   956703954           0.75
999873     6040      593       5   956703954           1.00
1000007    6040     1961       4   956703977           0.75
1000192    6040     2019       5   956703977           1.00
...         ...      ...     ...         ...            ...
825793     4958     2399       1  1046454338           0.00
825438     4958     1407       5  1046454443           1.00
825724     4958     3264       4  1046454548           0.75
825731     4958     2634       3  1046454548           0.50
825603     4958     1924       4  1046454590           0.75

[1000209 rows x 5 columns]

In [37]:
users_df['u_id'] = users_df.index

In [38]:
users_df

      UserID Gender  Age  Occupation Zip-code  u_id
0          1      F    1          10    48067     0
1          2      M   56          16    70072     1
2          3      M   25          15    55117     2
3          4      M   45           7    02460     3
4          5      M   25          20    55455     4
...      ...    ...  ...         ...      ...   ...
6035    6036      F   25          15    32603  6035
6036    6037      F   45           1    76006  6036
6037    6038      F   56           1    14706  6037
6038    6039      F   45           0    01060  6038
6039    6040      M   25           6    11106  6039

[6040 rows x 6 columns]

In [39]:
movies_df['m_id'] = movies_df.index

In [40]:
movies_df

,MovieID,Title,Genres,train_id,movie_id,m_id
0,1,Toy Story (1995),Animation|Children's|Comedy,0,0,0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,1,1,1
2,3,Grumpier Old Men (1995),Comedy|Romance,2,2,2
3,4,Waiting to Exhale (1995),Comedy|Drama,3,3,3
4,5,Father of the Bride Part II (1995),Comedy,4,4,4
...,...,...,...,...,...,...
3878,3948,Meet the Parents (2000),Comedy,3878,3878,3878
3879,3949,Requiem for a Dream (2000),Drama,3879,3879,3879
3880,3950,Tigerland (2000),Drama,3880,3880,3880
3881,3951,Two Family House (2000),Drama,3881,3881,3881
3882,3952,"Contender, The (2000)",Drama|Thriller,3882,3882,3882

In [43]:
r = ratings_sorted.merge(movies_df[['MovieID', 'm_id']], left_on='MovieID', right_on='MovieID')

In [44]:
r

         UserID  MovieID  Rating   Timestamp  rating_scaled  m_id
0          6040      858       4   956703932           0.75   847
1          6037      858       5   956709118           1.00   847
2          6033      858       4   956713838           0.75   847
3          6028      858       4   956723393           0.75   847
4          6026      858       4   956725396           0.75   847
...         ...      ...     ...         ...            ...   ...
1000204     454      658       3  1025574350           0.50   652
1000205     549     3291       2  1029337483           0.25  3222
1000206    4579     3315       2  1033002064           0.25  3246
1000207    2063     2592       3  1035152972           0.50  2523
1000208    1812     2226       3  1036451763           0.50  2157

[1000209 rows x 6 columns]

In [47]:
r = ratings_sorted.merge(users_df[['UserID', 'u_id']], left_on='UserID', right_on='UserID')

In [48]:
r

         UserID  MovieID  Rating   Timestamp  rating_scaled  u_id
0          6040      858       4   956703932           0.75  6039
1          6040     2384       4   956703954           0.75  6039
2          6040      593       5   956703954           1.00  6039
3          6040     1961       4   956703977           0.75  6039
4          6040     2019       5   956703977           1.00  6039
...         ...      ...     ...         ...            ...   ...
1000204    2947      356       2  1037807918           0.25  2946
1000205    2947     2318       2  1037807954           0.25  2946
1000206    2947     2700       3  1037807993           0.50  2946
1000207    2947       45       4  1037808019           0.75  2946
1000208    2947     1732       3  1037992675           0.50  2946

[1000209 rows x 6 columns]