In [1]:
from ncf import NCF

NCF()

TypeError: __init__() missing 4 required positional arguments: 'num_users', 'num_items', 'ratings', and 'all_movie_ids'

In [3]:
from data import get_movielens_1m

movies_df, users_df, ratings_df = get_movielens_1m()

In [4]:
movies_df

,MovieID,Title,Genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [8]:
movies_df['movie_id'] = movies_df.index

In [9]:
ratings_df

         UserID  MovieID  Rating  Timestamp
0             1     1193       5  978300760
1             1      661       3  978302109
2             1      914       3  978301968
3             1     3408       4  978300275
4             1     2355       5  978824291
...         ...      ...     ...        ...
1000204    6040     1091       1  956716541
1000205    6040     1094       5  956704887
1000206    6040      562       5  956704746
1000207    6040     1096       4  956715648
1000208    6040     1097       4  956715569

[1000209 rows x 4 columns]

In [10]:
users_df

      UserID Gender  Age  Occupation Zip-code
0          1      F    1          10    48067
1          2      M   56          16    70072
2          3      M   25          15    55117
3          4      M   45           7    02460
4          5      M   25          20    55455
...      ...    ...  ...         ...      ...
6035    6036      F   25          15    32603
6036    6037      F   45           1    76006
6037    6038      F   56           1    14706
6038    6039      F   45           0    01060
6039    6040      M   25           6    11106

[6040 rows x 5 columns]

In [18]:
from sklearn.preprocessing import MinMaxScaler

ratings_df['rating_scaled'] = MinMaxScaler().fit_transform(ratings_df['Rating'].values[:, None])

In [27]:
ratings_sorted = ratings_df.sort_values(by='Timestamp')

In [28]:
X = ratings_sorted[['UserID', 'MovieID']].values

In [33]:
y = ratings_sorted['rating_scaled'].values[:, None]

In [34]:
y

array([[0.75],
       [0.75],
       [1.  ],
       ...,
       [0.75],
       [0.5 ],
       [0.75]])